<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for LSNr" Description="Code analysis rules for LSNr.csproj." ToolsVersion="15.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1009" Action="None" />
    <Rule Id="CA1026" Action="Warning" />
    <Rule Id="CA1031" Action="Warning" />
    <Rule Id="CA1051" Action="None" />
    <Rule Id="CA1704" Action="None" />
    <Rule Id="CA1709" Action="Warning" />
    <Rule Id="CA1710" Action="None" />
    <Rule Id="CA2104" Action="None" />
  </Rules>
</RuleSet>